@view-transition {
  navigation: auto;
}

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

[picmoji] {
  width: var(--picmoji-width, auto);
  height: 1.5em;
  vertical-align: middle;
  display: inline-block;
  perspective: 1000px;
  backface-visibility: hidden;
  transform-style: preserve-3d;

  transition:
    transform 0.5s ease-in-out,
    box-shadow 0.5s ease,
    opacity 0.5s ease,
    filter 0.5s ease;
  z-index: 1;

  -webkit-touch-callout: none;
  user-select: none;
  touch-action: manipulation;

  will-change: transform;
}

[picmoji-hidden] {
  opacity: 0;
}

[picmoji-overlap] {
  position: absolute;
}

[picmoji][style*="--char-count"] {
  --picmoji-width: calc(var(--char-count) * 1ch);
  object-fit: contain;
}

[picmoji]:hover,
[picmoji].is-active {
  transform: scale(5) rotate3d(1, 0, 1, 360deg);
  z-index: 999;
  transform-origin: center;
  filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.5));
  transition-delay: 0.1s;
  opacity: 1;
  position: relative;
}

[picmoji-overlap]:hover,
[picmoji-overlap].is-active {
  position: absolute;
}

[t-thickunderline] {
  /*
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
  */
  border-bottom: 2px solid currentColor;
}

[d-inline] {
  display: inline;
}

[ta-left] {
  text-align: left;
}

[ta-center] {
  text-align: center;
}

[ta-right] {
  text-align: right;
}

@media (width <= 600px) {
  [ta-left-mobile] {
    text-align: left;
  }

  [ta-center-mobile] {
    text-align: center;
  }

  [ta-right-mobile] {
    text-align: right;
  }

  [hide-on-mobile] {
    display: none;
  }
}

@media (width >= 600px) {
  [ta-left-desktop] {
    text-align: left;
  }
  
  [ta-center-desktop] {
    text-align: center;
  }

  [ta-right-desktop] {
    text-align: right;
  }

  [hide-on-desktop] {
    display: none;
  }
}
